{% extends 'index.html.twig' %}

{% block title %}Categorie{% endblock %}

{% block body %}
    <h1>Categorie</h1>
    <td>
        <p style="100px" > <input  id="myInput"  type="text" placeholder="search">
            <img src="https://img.icons8.com/nolan/344/google-web-search.png" style="width:50px;height:50px;"/></p>
    </td>

    <table class="table">
        <thead>
        <tbody>
        <tbody id="myTable">
            <tr>
                <th>Id</th>
                <th>AbNom</th>
                <th>AbType</th>
                <th>AbPrix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
        <tbody id="myTable">
        {% for abonnement in abonnements %}
            <tr>
                <td>{{ abonnement.id }}</td>
                <td>{{ abonnement.abNom }}</td>
                <td>{{ abonnement.abType }}</td>
                <td>{{ abonnement.abPrix }}</td>
                <td>
                    <a href="{{ path('app_abonnement_show', {'id': abonnement.id}) }}">show</a>
                    <a href="{{ path('app_abonnement_edit', {'id': abonnement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Rien a afficher</td>
            </tr>
        {% endfor %}
        <div class="utf_pagination_container_part margin-top-30 margin-bottom-30">
            <nav class="pagination">
                {{ knp_pagination_render(abonnements) }}

            </nav>
        </div>
        </tbody>
        <tbody id="search">

        </tbody>
        </tbody>
    </table>
    <a href="{{ path('DownloadProduitsData') }}" class="btn btn-dark waves-effect waves-light">Download PDF</a>

    <a href="{{ path('app_abonnement_new') }}">Create new</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %}
