{% extends 'index.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}
    <h1>Reservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdCoach</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{{ reservation.idCoach }}</td>
                <td>{{ reservation.date }}</td>
                <td>
                    <a href="{{ path('app_reservation_show', {'idReser': reservation.idReser}) }}">show</a>
                    <a href="{{ path('app_reservation_edit', {'idReser': reservation.idReser}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reservation_new') }}">Create new</a>
{% endblock %}
