{% extends 'base.html.twig' %}

{% block title %}Caracteristiques sportifs!{% endblock %}

{% block body %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Caracteristiques</h1>

    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>Kevin Anderson</h2>

                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">

                                <h5 class="card-title">Details</h5>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label ">Taille</div>
                                    <div class="col-lg-9 col-md-8">{{ carac.taille }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Poids</div>
                                    <div class="col-lg-9 col-md-8">{{ carac.poids }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Age</div>
                                    <div class="col-lg-9 col-md-8">{{ carac.age }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Besoins Calories</div>
                                    <div class="col-lg-9 col-md-8">{{ carac.calorieNeed }}</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Besoins Protein</div>
                                    <div class="col-lg-9 col-md-8">{{ carac.protNeeds}}</div>
                                </div>


                            </div>


                        </div><!-- End Bordered Tabs -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
{% endblock %}