
<!DOCTYPE html>
<html lang="zxx">

{# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

<!-- Mirrored from ulisting.utouchdesign.com/ulisting_ltr/blog_page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Mar 2022 15:37:01 GMT -->
<head>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Runniny</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{asset('assets1/images/favicon.png') }}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{{asset('assets1/css/stylesheet.css') }}">
    <link rel="stylesheet" href="{{asset('assets1/css/mmenu.css') }}">
    <link rel="stylesheet" href="{{asset('assets1/css/style.css') }}" id="colors">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&amp;display=swap&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800" rel="stylesheet" type="text/css">
</head>
<body>

<!-- Preloader Start -->
<div class="preloader">
    <div class="utf-preloader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<!-- Preloader End -->

<!-- Wrapper -->
<div id="main_wrapper">
    {% block header %}

        <header id="header_part">
        <div id="header">
            <div class="container">
                <div class="utf_left_side">
                    <div id="logo"> <a href="index_1.html"><img src="images/logo.png" alt=""></a> </div>
                    <div class="mmenu-trigger">
                        <button class="hamburger utfbutton_collapse" type="button">
				<span class="utf_inner_button_box">
					<span class="utf_inner_section"></span>
				</span>
                        </button>
                    </div>
                    <nav id="navigation" class="style_one">
                        <ul id="responsive">

                            <li><a class="current" href="{{ path('c_show_f', {'id': 3}) }}">Caracteristiques</a> </li>
                            <li><a class="current" href="{{ path('app_regime_index') }}">Régimes</a> </li>
                            <li><a class="current" href="{{ path('app_plat_f') }}">Plat</a> </li>
                        </ul>
                    </nav>
                    <div class="clearfix"></div>
                </div>


                <div id="dialog_signin_part" class="zoom-anim-dialog mfp-hide">
                    <div class="small_dialog_header">
                        <h3>Sign In</h3>
                    </div>
                    <div class="utf_signin_form style_one">
                        <ul class="utf_tabs_nav">
                            <li class=""><a href="#tab1">Log In</a></li>
                            <li><a href="#tab2">Register</a></li>
                        </ul>
                        <div class="tab_container alt">
                            <div class="tab_content" id="tab1" style="display:none;">
                                <form method="post" class="login">
                                    <p class="utf_row_form utf_form_wide_block">
                                        <label for="username">
                                            <input type="text" class="input-text" name="username" id="username" value="" placeholder="Username" />
                                        </label>
                                    </p>
                                    <p class="utf_row_form utf_form_wide_block">
                                        <label for="password">
                                            <input class="input-text" type="password" name="password" id="password" placeholder="Password"/>
                                        </label>
                                    </p>
                                    <div class="utf_row_form utf_form_wide_block form_forgot_part"> <span class="lost_password fl_left"> <a href="javascript:void(0);">Forgot Password?</a> </span>
                                        <div class="checkboxes fl_right">
                                            <input id="remember-me" type="checkbox" name="check">
                                            <label for="remember-me">Remember Me</label>
                                        </div>
                                    </div>
                                    <div class="utf_row_form">
                                        <input type="submit" class="button border margin-top-5" name="login" value="Login" />
                                    </div>
                                    <div class="utf-login_with my-3">
                                        <span class="txt">Or Login in With</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-6">
                                            <a href="javascript:void(0);" class="social_bt facebook_btn mb-0"><i class="fa fa-facebook"></i> Facebook</a>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <a href="javascript:void(0);" class="social_bt google_btn mb-0"><i class="fa fa-google"></i> Google</a>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="tab_content" id="tab2" style="display:none;">
                                <form method="post" class="register">
                                    <p class="utf_row_form utf_form_wide_block">
                                        <label for="username2">
                                            <input type="text" class="input-text" name="username" id="username2" value="" placeholder="Username" />
                                        </label>
                                    </p>
                                    <p class="utf_row_form utf_form_wide_block">
                                        <label for="email2">
                                            <input type="text" class="input-text" name="email" id="email2" value="" placeholder="Email" />
                                        </label>
                                    </p>
                                    <p class="utf_row_form utf_form_wide_block">
                                        <label for="password1">
                                            <input class="input-text" type="password" name="password1" id="password1" placeholder="Password" />
                                        </label>
                                    </p>
                                    <p class="utf_row_form utf_form_wide_block">
                                        <label for="password2">
                                            <input class="input-text" type="password" name="password2" id="password2" placeholder="Confirm Password" />
                                        </label>
                                    </p>
                                    <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="clearfix"></div>

    <div id="titlebar" class="gradient">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{% block title %}Welcome!{% endblock %}</h2>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block body %}

    {% endblock %}


    {% block footer %}
    <!-- Footer -->


    {% endblock %}

{% block javascripts %}
<!-- Scripts -->
<script src="{{ asset('assets1/scripts/jquery-3.4.1.min.js') }}"></script>
<script src="{{ asset('assets1/scripts/chosen.min.js') }}"></script>
<script src="{{ asset('assets1/scripts/slick.min.js') }}"></script>
<script src="{{ asset('assets1/scripts/rangeslider.min.js') }}"></script>
<script src="{{ asset('assets1/scripts/magnific-popup.min.js') }}"></script>
<script src="{{ asset('assets1/scripts/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets1/scripts/mmenu.js') }}"></script>
<script src="{{ asset('assets1/scripts/tooltips.min.js') }}"></script>
<script src="{{ asset('assets1/scripts/color_switcher.js') }}"></script>
<script src="{{ asset('assets1/scripts/jquery_custom.js') }}"></script>
{% endblock %}

</body>

<!-- Mirrored from ulisting.utouchdesign.com/ulisting_ltr/blog_page.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Mar 2022 15:38:20 GMT -->
</html>