{% extends 'basef.html.twig' %}

{% block title %}Regimes{% endblock %}

{% block body %}
        <div class="card">
            <div class="card-body">
                <!--search_card-->
                <div class="utf_left_side">
                <div class="add_utf_listing_section ">
                    <div class="utf_add_listing_part_headline_part">
                        <h3><i class="sl sl-icon-magnifier"></i> Recherche</h3>
                    </div>
                    <div class="row with-forms">
                        <div class="col-md-12">
                            <div class="form-group lis-relative">
                                <div class="dataTable-top w-25 position-absolute top-0 end-0">
                                    {{ form_start(form) }}
                                    <div class="row">
                                        <div class="search-field" >{{ form_row(form.titre) }}</div>
                                        <div class="form-group col-sm">
                                            <button type="submit" class="button add-pricing-list-item">Rechercher</button>
                                        </div>
                                    </div>
                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <!--search_card_end-->

<!--table-->
                <div class="col-lg-12 col-md-12 mb-4">
                    <div class="utf_dashboard_list_box table-responsive recent_booking">
                        <div class="dashboard-list-box table-responsive invoices with-icons">
                            <table class="table table-hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regime in regimes %}
            <tr>
                <td>{{ regime.titre }}</td>
                <td>{{ regime.type }}</td>
                <td>{{ regime.niveau }}</td>
                <td>
                    <a href="{{ path('app_regime_show', {'id': regime.id}) }}">show</a>
                    <a href="{{ path('app_regime_edit', {'id': regime.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
                                <div class="mt-2 mb-2">
                                    {{ knp_pagination_render(regimes) }}
                                </div>
    </table>
                        </div>
                    </div>
                </div>
<!--end_table-->

                <br>

                <br>
    <a href="{{ path('app_regime_new') }}" class="button add-pricing-list-item utf_right_side"><i class=" fa-plus-square-o"> </i>Creer un regime</a>
    </div>
        </div>

{% endblock %}
