{% extends 'base.html.twig' %}

{% block title %}Regime index{% endblock %}

{% block body %}
    <div class="superx">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Regimes</h5>

        <div class="dataTable-top w-25 position-absolute top-0 end-0">
            {{ form_start(form) }}
            <div class="row">
            <div class="dataTable-search col-sm" >{{ form_row(form.titre) }}</div>
            <div class="form-group col-sm">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div></div>
            {{ form_end(form) }}
        </div>

    <table class="table datatable dataTable-table mt-5">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Type</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for regime in regimes %}
            <tr>
                <td>{{ regime.titre }}</td>
                <td>{{ regime.type }}</td>
                <td>{{ regime.niveau }}</td>
                <td>
                    <a href="{{ path('app_regime_show', {'id': regime.id}) }}">show</a>
                    <a href="{{ path('app_regime_edit', {'id': regime.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                {{ knp_pagination_render(regimes) }}
    <a href="{{ path('app_regime_new') }}">Create new</a>
    </div>
        </div>
    </div>
{% endblock %}
